<div class="container my-container">
    <div class="row">
        <h2>Command Center</h2>

        <div class="col-md-4 table-bordered text-center">
            <div class="has-margin">
                <h2 class="row text-center">Motors</h2>

                <form class="row form-inline" name="motorCommandForm" novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error' : motorCommandForm.distance.$invalid }">
                        <label>Distance (in)
                            <input type="number" value="0" min="-540" max="540" step="6" name="distance"
                                   ng-model="motor.distance" class="form-control" required autofocus>
                        </label>
                    </div>
                    </br>
                    <div class="form-group" ng-class="{ 'has-error' : motorCommandForm.angle.$invalid }">
                        <label>Angle (degrees)
                            <input type="number" value="0" min="-180" max="180" step="15" name="angle"
                                   ng-model="motor.angle" class="form-control" required>
                        </label>
                    </div>
                    </br>
                    <div class="form-group"
                         ng-class="{ 'has-error' : motorCommandForm.serpentine.$invalid }">
                        <label>Serpentine Mode
                            <input type="checkbox" name="serpentine" ng-model="motor.serpentine" class="form-control">
                        </label>
                    </div>
                </form>

                <div class="row text-center">
                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                            ng-click="sendMotorCommand(motor)"
                            ng-disabled="motorCommandForm.$invalid || isMotorCommandInvalid(motor)">
                        Send Motor Command
                    </button>
                    <button class="btn btn-primary btn-danger btn-lg btn-block" type="submit"
                            ng-click="sendStopCommand()">
                        STOP
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 table-bordered text-center">
            <div class="has-margin">
                <!-- Gripper -->
                <h2 class="row text-center">Gripper/Launcher</h2>

                <form class="row form-inline" name="gripperCommandForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : gripperCommandForm.location.$invalid}">
                        <label>Drawbridge Location</label>

                        <div class="btn-group" data-toggle="buttons">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="location" ng-model="gripper.location"
                                           value="raised" required>
                                    Raised
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="location" ng-model="gripper.location"
                                           value="lowered" required>
                                    Lowered
                                </label>
                            </div>
                        </div>
                    </div>
                    </br>
                    <div class="form-group" ng-class="{ 'has-error' : gripperCommandForm.position.$invalid}">
                        <label>Gripper Position</label>

                        <div class="btn-group" data-toggle="buttons">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="position" ng-model="gripper.position"
                                           value="open" required>
                                    Open
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="position" ng-model="gripper.position"
                                           value="closed" required>
                                    Closed
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                            ng-click="sendGripperCommand(gripper)"
                            ng-disabled="gripperCommandForm.$invalid">
                        Send Gripper Command
                    </button>
                    <button class="btn btn-primary btn-lg btn-block btn-success" type="submit"
                            ng-click="sendGripperLaunchCommand()"
                            ng-disabled="isGripperRaised()">
                        LAUNCH
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4 table-bordered text-center">
            <div class="has-margin">
                <!-- LEDs -->
                <h2 class="row text-center">LEDs</h2>

                <form class="row form-inline" name="ledCommandForm" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : ledCommandForm.ledNumber.$invalid}">
                        <label>LedNumber
                            <input type="number" min="1" max="6" step="1" value="3" name="ledNumber"
                                   ng-model="led.ledNumber" class="form-control" required>
                        </label>
                    </div>
                    </br>
                    <div class="form-group" ng-class="{ 'has-error' : ledCommandForm.status.$invalid}">
                        <label>LED Status</label>

                        <div class="btn-group" data-toggle="buttons">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" ng-model="led.status" value="on" required>
                                    ON
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="status" ng-model="led.status" value="off" required>
                                    OFF
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <button class="btn btn-primary btn-lg btn-block" type="submit"
                            ng-click="sendLedCommand(led)"
                            ng-disabled="ledCommandForm.$invalid">
                        Send LED Command
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h2>Latest Commands</h2>

        <div class="col-md-4 table-bordered text-center">
            <h2 class="row">Motors</h2>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-6 striped">
                    <b>Distance</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestMotorCommands[0].distance}}
                </li>
                <li class="col-sm-6">
                    <b>Angle</b>
                </li>
                <li class="col-sm-6">
                    {{latestMotorCommands[0].angle}}
                </li>
                <li class="col-sm-6 striped">
                    <b>Serpentine Mode</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestMotorCommands[0].serpentine}}
                </li>
                <li class="col-sm-6">
                    <b>Timestamp</b>
                </li>
                <li class="col-sm-6">
                    {{latestMotorCommands[0].timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>

        <div class="col-md-4 table-bordered text-center">
            <h2 classs="row">Gripper/Launcher</h2>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-6 striped">
                    <b>Launch</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestGripperCommands[0].launch}}
                </li>
                <li class="col-sm-6">
                    <b>Location</b>
                </li>
                <li class="col-sm-6">
                    {{latestGripperCommands[0].location}}
                </li>
                <li class="col-sm-6 striped">
                    <b>Position</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestGripperCommands[0].position}}
                </li>
                <li class="col-sm-6">
                    <b>Timestamp</b>
                </li>
                <li class="col-sm-6">
                    {{latestGripperCommands[0].timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>

        <div class="col-md-4 table-bordered text-center">
            <h2 class="row">LEDs</h2>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-6 striped">
                    <b>LED Number</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestLedCommands[0].ledNumber}}
                </li>
                <li class="col-sm-6">
                    <b>Status</b>
                </li>
                <li class="col-sm-6">
                    {{latestLedCommands[0].status}}
                </li>
                <li class="col-sm-6 striped">
                    <b>Timestamp</b>
                </li>
                <li class="col-sm-6 striped">
                    {{latestLedCommands[0].timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>
    </div>
</div>