<div class="container">
    <h2>Command History</h2>

    <div class="row">
        <div class="col-md-12 table-bordered text-center">
            <h4 class="lead row">Motors</h4>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-2">
                    <b>Distance</b>
                </li>
                <li class="col-sm-2">
                    <b>Angle</b>
                </li>
                <li class="col-sm-2">
                    <b>Serpentine Mode</b>
                </li>
                <li class="col-sm-6">
                    <b>Timestamp</b>
                </li>
            </ul>
            <ul class="row list-unstyled spaced-2" ng-repeat="cmd in latestMotorCommands">
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.distance}}
                </li>
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.angle}}
                </li>
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.serpentine}}
                </li>
                <li class="col-sm-6" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>
        <div class="col-md-12 table-bordered text-center">
            <h4 class="lead row">Gripper/Launcher</h4>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-2">
                    <b>Launch</b>
                </li>
                <li class="col-sm-2">
                    <b>Location</b>
                </li>
                <li class="col-sm-2">
                    <b>Position</b>
                </li>
                <li class="col-sm-6">
                    <b>Timestamp</b>
                </li>
            </ul>
            <ul class="row list-unstyled spaced-2" ng-repeat="cmd in latestGripperCommands">
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.launch}}
                </li>
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.location}}
                </li>
                <li class="col-sm-2" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.position}}
                </li>
                <li class="col-sm-6" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>
        <div class="col-md-12 table-bordered text-center">
            <h4 class="lead row">LEDs</h4>
            <ul class="row list-unstyled spaced-2">
                <li class="col-sm-3">
                    <b>LED Number</b>
                </li>
                <li class="col-sm-3">
                    <b>Status</b>
                </li>
                <li class="col-sm-6">
                    <b>Timestamp</b>
                </li>
            </ul>
            <ul class="row list-unstyled spaced-2" ng-repeat="cmd in latestLedCommands"
                    >
                <li class="col-sm-3" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.ledNumber}}
                </li>
                <li class="col-sm-3" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.status}}
                </li>
                <li class="col-sm-6" ng-class="{striped: $index % 2 == 0}">
                    {{cmd.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
                </li>
            </ul>
        </div>
    </div>
</div>