<div class="container">
    <h2>Command History</h2>

    <table class="table table-bordered">
        <tr>
            <td>
                <p class="lead">Motors</p>
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Angle</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="command in latestMotorCommands">
                        <td>{{command.distance}}</td>
                        <td>{{command.angle}}</td>
                        <td>{{command.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <p class="lead">Gripper/Launcher</p>
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>Launch</th>
                        <th>Location</th>
                        <th>Position</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="command in latestGripperCommands">
                        <td>{{command.launch}}</td>
                        <td>{{command.location}}</td>
                        <td>{{command.position}}</td>
                        <td>{{command.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    </tr>
                </table>
            </td>
            <td>
                <p class="lead">LEDs</p>
                <table class="table-striped">
                    <thead>
                    <tr>
                        <th>Led Number</th>
                        <th>Status</th>
                        <th>Timestamp</th>
                    </tr>
                    </thead>
                    <tr ng-repeat="command in latestLedCommands">
                        <td>{{command.ledNumber}}</td>
                        <td>{{command.status}}</td>
                        <td>{{command.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>